:root {
    --ratio: 3.74;
    --cta-color: rgb(0, 102, 254);
    --light-color-bg: rgb(238, 241, 247);
    --dark-color-bg: rgb(55, 65, 81);
    --grey-color: rgb(107, 114, 128);
    --leading: 0.025em;

  }
*{
    font-family: "Nunito", sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

/* navbar */
.navbar{
    background-color: white;
}

.navbrand{
    font-weight: bold;
    font-size: 30px;
}

/* card */

.card{
    color: white;
    background-color: rgba(255, 255, 255,  0.4);
    border-radius: 20px;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    margin-top: 10px;
}
.card-title {
   color: brown;
  }
.card-subtitle {
    color: black;
  }
.card-text{
    color: black;
}

.containermain{
    background: #007991; 
    background: linear-gradient(to left, #78ffd6, #007991); 
}



.list-item{
    border: 1px solid black;
    background-color: white;
    margin-top: 5px;
}
/* button{
    display: block;
    margin-top: 2rem;
    width: calc(44px * var(--ratio));
    height: 44px;
    border-radius: calc(3px * var(--ratio));
    border: none;
    letter-spacing: calc(3 * var(--leading, 0.025em));
    font-family: inherit;
    color: var(--grey-color);
    background-color: var(--light-color-bg);
    font-size: large;
    font-weight: 700;
} */

button:focus {
    outline: none;
    border: 0.0625rem solid transparent;
    box-shadow: 0 0 0 0.125rem #fff, 0 0 0 0.2rem var(--dark-color-bg);
  }

.bar{

    /* Add your code below this line */
    margin: 2px;
    
    /* Add your code above this line */
    display: inline-block;
    background-color: blue;
}
.bar:hover{
    fill:brown
}



/* Card 1 */

.btn{
    background-color: transparent;
    border:none !important;
}

.btn:hover {
    background-color: transparent;
    color: black;
    border: none !important;
}

.btn :focus{
    border: none;
}

.btn:active{
    color: black;
    background-color: transparent;
    border: none !important;
}
.btn:disabled{
    color: black;
    background-color: transparent;
    border: none !important;
}
.btn-success {
    color: rgb(0, 182, 27);
    font-size: 25px;
}
.btn-danger{
    color: #dc3545;
    font-size: 25px;
}
.btn-primary{
    color: #007991;
    font-size: 25px;
}
.btn-secondary{
    gap: 8px;
    display: flex;
    align-items: center;
}
.btn-light{
    gap: 8px;
    display: flex;
    align-items: center;
}